.jcf-checkbox{
	vertical-align:middle;
	display:inline-block;
	position:relative;
	overflow:hidden;
	cursor:default;
	background:$white;
	border:1px solid $gray-6;
	height:20px;
	width:20px;
	border-radius:2px;
	&.jcf-checked{
		span{
			display:block;
		}
	}
	span{
		position:absolute;
		display:none;
		font-size:12px;
		line-height:14px;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		color:$dark-gray-4;
		&:before{
			content:"\e604";
			font-family:'icomoon';
		}
	}
	input[type="checkbox"]{
		position:absolute;
		width:100%;
		height:100%;
		border:0;
		margin:0;
		left:0;
		top:0;
	}
}
.jcf-select{
	display:inline-block;
	vertical-align:middle;
	position:relative;
	border:1px solid $gray-6;
	background:$white;
	border-radius:2px;
	margin:0;
	width:235px;
	height:25px;
	select{
		z-index:1;
		left:0;
		top:0;
	}
	.jcf-select-text{
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
		cursor:default;
		display:block;
		font-size:11px;
		line-height:23px;
		margin:0 35px 0 8px;
		color:$mountain-mist;
	}
	.jcf-select-opener{
		position:absolute;
		text-align:center;
		right:8px;
		top:50%;
		cursor:pointer;
		transform:translateY(-50%);
		color:$dark-gray-2;
		&:before{
			content:"\e606";
			font-family:'icomoon';
		}
	}
	.jcf-select-drop{
		position:absolute;
		margin-top:0px;
		z-index:9999;
		top:100%;
		left:-1px;
		right:-1px;
	}
	.jcf-drop-flipped{
		bottom:100%;
		top:auto;
	}
}
body{
	> .jcf-select-drop{
		position:absolute;
		margin:-1px 0 0;
		z-index:9999;
		&.jcf-drop-flipped{
			margin:1px 0 0;
		}
	}
}
.jcf-select-drop{
	.jcf-select-drop-content{
		border:1px solid $turquoise;
		border-radius:0 0 2px 2px
	}
	.jcf-hover{
		background:$light-gray;
	}
}
.jcf-list-box{
	overflow:hidden;
	display:inline-block;
	border:1px solid $gray-6;
	min-width:200px;
	margin:0 15px;
	.jcf-selected{
		background:#e6e6e6;
	}
}
.jcf-list{
	display:inline-block;
	vertical-align:top;
	position:relative;
	background:#fff;
	line-height:14px;
	font-size:12px;
	width:100%;
	.jcf-list-content{
		vertical-align:top;
		display:inline-block;
		overflow:auto;
		width:100%;
	}
	ul{
		@extend %listreset;
		li{
			overflow:hidden;
			display:block;
		}
	}
	.jcf-overflow{
		overflow:auto;
	}
	.jcf-option{
		overflow:hidden;
		cursor:default;
		display:block;
		padding:5px 9px;
		color:$dark-gray-2;
		height:1%;
	}
	.jcf-disabled{
		background:$white !important;
		color:#aaa !important;
	}
	.jcf-optgroup-caption{
		white-space:nowrap;
		font-weight:bold;
		display:block;
		padding:5px 9px;
		cursor:default;
		color:$black;
	}
	.jcf-optgroup{
		.jcf-option{
			padding-left:30px;
		}
	}
}
.jcf-file{
	display:inline-block;
	vertical-align:middle;
	white-space:nowrap;
	position:relative;
	overflow:hidden;
	width:235px;
	.jcf-real-element{
		position:absolute;
		font-size:200px;
		height:200px;
		margin:0;
		right:0;
		top:0;
		visibility:visible;
	}
	.jcf-fake-input{
		display:inline-block;
		text-overflow:ellipsis;
		white-space:nowrap;
		padding:2px 10px;
		vertical-align:middle;
		overflow:hidden;
		border:1px solid $gray-6;
		margin:0 7px 0 0;
		font-size:11px;
		line-height:20px;
		height:25px;
		border-radius:2px;
		background:$white;
		width:95px;
		@include mq($until: mobile){
			width:45%;
			margin-right:1%;
		}
	}
	.jcf-upload-button{
		display:inline-block;
		vertical-align:middle;
		white-space:nowrap;
		overflow:hidden;
		padding:2px 10px;
		text-align:center;
		height:25px;
		font-size:13px;
		line-height:20px;
		font-weight:700;
		color:$white;
		background:$turquoise;
		border-radius:2px;
		width:132px;
		transition:all 0.3s ease;
		@include mq($until: mobile){
			width:54%;
		}
	}
}
.cursor-input{
	cursor:pointer !important;
}
.cursor-btn{
	.jcf-upload-button{
		cursor:pointer !important;
		text-decoration:underline;
		background:$dark-turquoise;
	}
}
.jcf-number{
	display:inline-block;
	vertical-align:middle;
	position:relative;
	height:25px;
	@include mq($until: mobile){
		display:block;
	}
	&.jcf-disabled{
		.jcf-btn-dec,
		.jcf-btn-inc{
			&:before{
				opacity:0.3;
			}
			&:hover{
				background:#aaa;
			}
		}
		input{
			background:#ddd;
		}
	}
	input{
		border:1px solid $gray-6;
		border-radius:2px;
		padding:2px 10px;
		font-size:11px;
		line-height:19px;
		width:235px;
		height:100%;
		color:$dark-gray-2;
		box-shadow:none !important;
		-webkit-appearance:none;
		@include placeholder{
			color:$base-form-placeholder-color !important;
		}
		@include mq($until: mobile){
			width:100%;
		}
	}
	.jcf-btn-dec,
	.jcf-btn-inc{
		display:none;
		position:absolute;
		background:#aaa;
		width:20px;
		height:15px;
		right:1px;
		top:1px;
		&.jcf-disabled{
			&:before{
				opacity:0.3;
			}
		}
		&:hover{
			background:#e6e6e6;
		}
		&:before{
			position:absolute;
			content:'';
			width:0;
			height:0;
			top:50%;
			left:50%;
			margin:-6px 0 0 -4px;
			border:4px solid #aaa;
			border-color:transparent transparent #000 transparent;
		}
	}
	.jcf-btn-dec{
		top:auto;
		bottom:1px;
		&:before{
			margin:-1px 0 0 -4px;
			border-color:#000 transparent transparent transparent;
		}
	}
}
.jcf-number input{-moz-appearance:textfield;}
.jcf-number input::-webkit-inner-spin-button,
.jcf-number input::-webkit-outer-spin-button{-webkit-appearance:none;}
.jcf-disabled{background:$dark-gray !important;}
.jcf-focus, .jcf-focus *{border-color:$turquoise !important;}